# Ignore common Python and development files
__pycache__
*.pyc
*.pyo
*.pyd
*.pyi
*.pyc
*.pyo
*.pyd
*.pyi
*.pyproj
*.git
.vscode
.idea
*.egg-info
dist
build
*.egg-info
*.egg
*.dist-info

# Ignore Docker-related files and directories
Dockerfile*
docker-compose.yml
.dockerignore
docker

# Ignore local LLM
*.gguf

# Ignore test files
*.test
test_*

# Ignore ruff cache
.ruff_cache

# Ignore docs
*.md
